{% extends 'Order/layouts/base.html' %}
{% block title %}
Giỏ hàng
{% endblock %}

{% load staticfiles %}

{% block css %}
<link href="{% static 'DataTables/datatables.css' %}" rel="stylesheet" />
<style>
    table {
        width: 100%;
    }
</style>
{% endblock %}

{% block cart %}
<div class="row">
    <div class="column medium-9" id="cart-list">
        <h3>Giỏ hàng</h3>
        <table id="table-cart">
            {% csrf_token %}
            <thead>
                <tr>
                    <th>*</th>
                    <th width="200">Tên hàng</th>
                    <th>Số lượng</th>
                    <th width="150">Hủy bỏ</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="column medium-9" hidden id="ordered-list">
            <h3>Đơn hàng đã đặt</h3>
            <table id="ordered-cart">
                <thead>
                    <tr>
                        <th>*</th>
                        <th width="200">Thời gian</th>
                        <th>Trạng thái</th>
                        <th>Chi tiết</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    <div class="column medium-3">
        <button class="success button" id="btn-dat-hang">Đặt hàng</button>
        <button class="success button" id="xem-hang-dat" style="display: none;">Giỏ hàng</button>
        <button class="success button" id="btn-da-dat-hang">Danh sách hóa đơn</button>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'Order/js/cart.js' %}"></script>
<script src="{% static 'DataTables/datatables.js' %}"></script>
{% endblock %}