{% extends "../layouts/base.html" %} {% load static %} {% block title %} Tổng quan {% endblock title %} {% block css %}
<link href="{% static 'DataTables/datatables.css' %}" rel="stylesheet" />
{% endblock %}
{% block content %}
<div class="">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">

                    <!-- Thống kê hóa đơn -->
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Thống kê hóa đơn </h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li><a class="collapse-link"><i class="fa fa-chevron-down"></i></a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content" id="hoa-don" style="display: none;">
                                    <div class="row">
                                        <div class="col-sm-5 col-md-5 col-xs-5">
                                            <label for="trang-thai" class="col-sm-12 col-md-12 col-xs-12">Trạng thái
                                                <select name="trang-thai" id="trang-thai" class="form-control">
                                                    <option value=""></option>
                                                </select>
                                            </label>
                                        </div>
                                        {% csrf_token %}
                                        <div class="col-sm-2 col-md-2 col-xs-2">
                                            <label for="tu-ngay">Từ ngày:
                                                <input data-inputmask="'mask': '99/99/9999'" name="tu-ngay" id="tu-ngay"
                                                    class="form-control">
                                            </label>
                                        </div>
                                        <div class="col-sm-2 col-md-2 col-xs-2">
                                            <label for="den-ngay">Đến ngày:
                                                <input data-inputmask="'mask': '99/99/9999'" name="den-ngay"
                                                    id="den-ngay" class="form-control">
                                            </label>
                                        </div>
                                        <div class="col-sm-1 col-md-1 col-xs-1">
                                            <button id="filter" class="btn btn-primary" style="margin-top: 19px;">
                                                <i class="fa fa-filter"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6">
                                            <table class="table" id="summary">
                                                <thead>
                                                    <tr>
                                                        <th>Trạng thái</th>
                                                        <th>Số lượng</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-sm-6 col-md-6">
                                            <table class="table" id="invoices" style="width: 100%">
                                                <thead>
                                                    <tr>
                                                        <th>Ngày tạo</th>
                                                        <th>Người dùng</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Thống kê sản phẩm </h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li><a class="collapse-link"><i class="fa fa-chevron-down"></i></a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content" id="san-pham" style="display: none;">
                                    <h3>Tổng số: <span id="tong-so"></span></h3>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            <h3>Số lượng theo loại hàng</h3>
                                            <table class="table" id="theo-loai-hang">
                                                <thead>
                                                        <tr>
                                                            <th>Tên loại</th>
                                                            <th>Số lượng</th>
                                                        </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            <h3>Số lượng theo nhà cung cấp</h3>
                                            <table class="table" id="theo-nha-cung-cap">
                                                <thead>
                                                        <tr>
                                                            <th>Tên nhà cung cấp</th>
                                                            <th>Số lượng</th>
                                                        </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- Thống kê doanh thu -->
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Thống kê doanh thu </h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li><a class="collapse-link"><i class="fa fa-chevron-down"></i></a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content" id="doanh-thu" style="display: none;">
                                    <div class="row">
                                        {% csrf_token %}
                                        <div class="col-sm-2 col-md-2 col-xs-2">
                                            <label for="tu-ngay">Từ ngày:
                                                <input data-inputmask="'mask': '99/99/9999'" name="tu-ngay" id="tu-ngay"
                                                    class="form-control">
                                            </label>
                                        </div>
                                        <div class="col-sm-2 col-md-2 col-xs-2">
                                            <label for="den-ngay">Đến ngày:
                                                <input data-inputmask="'mask': '99/99/9999'" name="den-ngay"
                                                    id="den-ngay" class="form-control">
                                            </label>
                                        </div>
                                        <div class="col-sm-1 col-md-1 col-xs-1">
                                            <button id="filter" class="btn btn-primary" style="margin-top: 19px;">
                                                <i class="fa fa-filter"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <h3>Doanh thu: <span id="doanh-thu-data"></span></h3>
                                        <div class="col-sm-6 col-md-6">
                                            <table class="table" id="invoices" style="width: 100%">
                                                <thead>
                                                    <tr>
                                                        <th>Ngày tạo</th>
                                                        <th>Người dùng</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="chi-tiet-hoa-don" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
                <h4 class="modal-title" id="new_mon_title">Thông tin hóa đơn</h4>
            </div>
            <input type="hidden" name="id" id="id" />
            <div class="modal-body" id="khung-modal">
                <p>Khách hàng: <span id="khach-hang"></span></p>
                <p>Địa chỉ: <span id="dia-chi"></span></p>
                <p>Số điện thoại: <span id="so-dien-thoai"></span></p>
                <p>Thời gian đặt: <span id="thoi-gian-dat"></span></p>
                <table class="table" id="hoa-don">
                    <thead>
                        <th>Tên hàng</th>
                        <th>Số lượng</th>
                        <th>Thành tiền</th>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Đóng
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="{% static 'jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js' %}"></script>
<script src="{% static 'DataTables/datatables.js' %}"></script>
<script src="{% static 'build/js/xlsx.full.min.js' %}"></script>
<script src="{% static 'custom/js/Store/overview.js' %}"></script>
{% endblock js %}