{% extends "../layouts/base.html" %} {% load static %} {% block title %} Quản lý
sản phẩm {% endblock title %} {% block css %}
<link href="{% static 'DataTables/datatables.css' %}" rel="stylesheet" />
<link
	rel="stylesheet"
	href="{% static 'dropzone/dist/min/dropzone.min.css' %}"
/>
{% endblock %} {% block content %} {% csrf_token %}
<div class="">
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">
				<div class="x_title">
					<h2>Danh sách giáo viên</h2>
					<!--<button class="btn btn btn-round btn-primary"  style="float:right;" data-toggle="modal" data-target="#new_mon_multi" data-title="new">-->
					<!--<i class="fa fa-plus"></i> Thêm nhiều môn-->
					<!--</button>-->
					<div class="clearfix"></div>
					<button
						class="btn btn-round btn-primary"
						id="btn_add_product"
						data-toggle="modal"
						data-target="#new_san_pham"
						data-title="new"
					>
						<i class="fa fa-plus"></i> Thêm mới sản phẩm
					</button>
					<div class="clearfix"></div>
				</div>

				<div class="x_content">
					<div class="table-responsive">
						<table
							class="table table-striped jambo_table bulk_action"
							id="list_san_pham"
							width="100%"
						>
							<thead>
								<tr>
									<th>*</th>
									<th>Tên sản phẩm</th>
									<th>Giá bán</th>
									<th>Loại hàng</th>
									<th>Tồn kho</th>
									<th>Nhà cung cấp</th>
									<th>Kich hoạt</th>
									<th>
										<center>Sửa</center>
									</th>
								</tr>
							</thead>
							<tbody id="table_body"></tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal new sản phẩm -->
<div class="modal" id="new_san_pham" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					&times;
				</button>
				<h4 class="modal-title" id="new_mon_title">Tạo mới sản phẩm</h4>
			</div>
			<div class="modal-body">
				{% csrf_token %}
				<div class="col-md-6 col-sm-6 col-6 col-lg-6 form-group has-feedback">
					<input
						type="text"
						class="form-control has-feedback-left"
						name="ten_san_pham"
						id="ten_san_pham"
						placeholder="Tên sản phẩm"
						required
					/>
					<span
						class="fa fa-font form-control-feedback left"
						aria-hidden="true"
					></span>
				</div>
				<div class="col-md-6 col-sm-6 col-6 col-lg-6 form-group has-feedback">
					<select name="nha_cung_cap" class="form-control" id="nha_cung_cap">
						<option value="">Nhà cung cấp</option>
					</select>
				</div>
				<div class="col-md-6 col-sm-6 col-6 col-lg-6 form-group has-feedback">
					<input
						type="text"
						class="form-control has-feedback-left"
						name="gia_von"
						id="gia_von"
						placeholder="Giá vốn"
						required
					/>
					<span
						class="fa fa-usd form-control-feedback left"
						aria-hidden="true"
					></span>
				</div>
				<div class="col-md-6 col-sm-6 col-6 col-lg-6 form-group has-feedback">
					<input
						type="text"
						class="form-control has-feedback-left"
						name="gia_ban"
						id="gia_ban"
						placeholder="Giá bán"
						required
					/>
					<span
						class="fa fa-gavel form-control-feedback left"
						aria-hidden="true"
					></span>
				</div>
				<div class="col-md-6 col-sm-6 col-6 col-lg-6 form-group has-feedback">
					<input
						type="text"
						class="form-control has-feedback-left"
						name="so_luong"
						id="so_luong"
						placeholder="Số lượng"
						required
					/>
					<span
						class="fa fa-info form-control-feedback left"
						aria-hidden="true"
					></span>
				</div>
				<div class="col-md-6 col-sm-6 col-6 col-lg-6 form-group has-feedback">
					<select name="loai_hang" class="form-control" id="loai_hang">
						<option value="">Loại hàng</option>
					</select>
				</div>
				<div
					class="col-md-12 col-sm-12 col-12 col-lg-12 form-group has-feedback"
				>
					<textarea
						name="mo_ta"
						id="mo_ta"
						style="width: 100%;"
						rows="5"
						placeholder="Mô tả..."
					></textarea>
				</div>
				<div class="col-md-6 col-sm-6 col-6 col-lg-6 form-group has-feedback">
					<label>Ảnh sản phẩm</label>
					<input
						type="file"
						name="image_avt"
						id="image_avt"
						class="form-control-file"
					/>
				</div>
				<div class="col-md-6 col-sm-6 col-6 col-lg-6 form-group has-feedback">
					<label>Ảnh chi tiết sản phẩm</label>
					<input
						type="file"
						name="image"
						id="image"
						class="form-control-file"
						multiple
					/>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" id="btn_create_product">
					Tạo mới
				</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">
					Đóng
				</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal edit sản phẩm -->
<div class="modal" id="edit_san_pham" role="dialog">
	<div class="modal-dialog modal-lg">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					&times;
				</button>
				<h4 class="modal-title" id="new_mon_title">Chỉnh sửa sản phẩm</h4>
			</div>
			<div class="modal-body">
				<div class="col-md-6">
					{% csrf_token %}
					<input type="hidden" name="id" id="id" />
					<div class="col-md-6 col-sm-6 col-6 col-lg-6 form-group has-feedback">
						<input
							type="text"
							class="form-control has-feedback-left"
							name="ten_san_pham"
							id="ten_san_pham"
							placeholder="Tên sản phẩm"
							required
						/>
						<span
							class="fa fa-font form-control-feedback left"
							aria-hidden="true"
						></span>
					</div>
					<div class="col-md-6 col-sm-6 col-6 col-lg-6 form-group has-feedback">
						<select name="nha_cung_cap" class="form-control" id="nha_cung_cap">
							<option value="">Nhà cung cấp</option>
						</select>
					</div>
					<div class="col-md-6 col-sm-6 col-6 col-lg-6 form-group has-feedback">
						<input
							type="text"
							class="form-control has-feedback-left"
							name="gia_von"
							id="gia_von"
							placeholder="Giá vốn"
							required
						/>
						<span
							class="fa fa-usd form-control-feedback left"
							aria-hidden="true"
						></span>
					</div>
					<div class="col-md-6 col-sm-6 col-6 col-lg-6 form-group has-feedback">
						<input
							type="text"
							class="form-control has-feedback-left"
							name="gia_ban"
							id="gia_ban"
							placeholder="Giá bán"
							required
						/>
						<span
							class="fa fa-gavel form-control-feedback left"
							aria-hidden="true"
						></span>
					</div>
					<div class="col-md-6 col-sm-6 col-6 col-lg-6 form-group has-feedback">
						<input
							type="text"
							class="form-control has-feedback-left"
							name="so_luong"
							id="so_luong"
							placeholder="Số lượng"
							required
						/>
						<span
							class="fa fa-info form-control-feedback left"
							aria-hidden="true"
						></span>
					</div>
					<div class="col-md-6 col-sm-6 col-6 col-lg-6 form-group has-feedback">
						<select name="loai_hang" class="form-control" id="loai_hang">
							<option value="">Loại hàng</option>
						</select>
					</div>
					<div class="col-md-6 col-sm-6 col-6 col-lg-6 form-group has-feedback">
						<div class="checkbox">
							<label>
								<input type="checkbox" name="is_active" id="is_active" /> Active
							</label>
						</div>
					</div>
					<div
						class="col-md-12 col-sm-12 col-12 col-lg-12 form-group has-feedback"
					>
						<textarea
							name="mo_ta"
							id="mo_ta"
							style="width: 100%;"
							rows="5"
							placeholder="Mô tả..."
						></textarea>
					</div>
					<div class="col-md-6 col-sm-6 col-6 col-lg-6 form-group has-feedback">
						<label>Ảnh sản phẩm</label>
						<input
							type="file"
							name="image_avt"
							id="image_avt"
							class="form-control-file"
						/>
					</div>
					<div class="col-md-6 col-sm-6 col-6 col-lg-6 form-group has-feedback">
						<label>Ảnh chi tiết sản phẩm</label>
						<input
							type="file"
							name="image"
							id="image"
							class="form-control-file"
							multiple
						/>
					</div>
				</div>
				<div class="col-md-6">
					<div class="row" id="img-sp" style="display: table-cell;">
						<!-- <div class="col-md-6">
							<img
								style="width: 100%; display: block;"
								alt="image"
							/>
							<div class="caption">
								<p>Ảnh đại diện sản phẩm</p>
							</div>
						</div> -->
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" id="btn_edit_product">
					Lưu
				</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">
					Đóng
				</button>
			</div>
		</div>
	</div>
</div>
{% endblock content %} {% block js %}
<script src="{% static 'DataTables/datatables.js' %}"></script>
<script src="{% static 'dropzone/dist/min/dropzone.min.js' %}"></script>
<script src="{% static 'custom/js/Store/products.js' %}"></script>
{% endblock js %}
