{% extends "../layouts/base.html" %}
{% load static %}
{% block title %}
Quản lý hóa đơn
{% endblock title %}

{% block css %}
<link href="{% static 'DataTables/datatables.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Danh sách hoas đơn</h2>
                    <!--<button class="btn btn btn-round btn-primary"  style="float:right;" data-toggle="modal" data-target="#new_mon_multi" data-title="new">-->
                    <!--<i class="fa fa-plus"></i> Thêm nhiều môn-->
                    <!--</button>-->
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">

                    <div class="table-responsive">
                        <table class="table table-striped jambo_table bulk_action" id="list_hoa_don" width="100%">
                            {% csrf_token %}
                            <thead>
                                <tr>
                                    <th>*</th>
                                    <th>Khách hàng</th>
                                    <th>Người lập</th>
                                    <th>Ngày lập</th>
                                    <th>Thanh toán</th>
                                    <th>
                                        <center>*</center>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="table_body">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal new loại hàng -->
<div class="modal" id="thanh-toan-hoa-don" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="new_mon_title">Thanh toán hóa đơn</h4>
            </div>
            <div class="modal-body" id="khung-modal">
                {% csrf_token %}
                <table id="chi-tiet-hoa-don">
                    <thead>
                        <th>*</th>
                        <th>Tên hàng</th>
                        <th>Số lượng</th>
                        <th>Thành tiền</th>
                    </thead>
                    <tbody></tbody>
                </table>
                <p>Thành tiền: <span id="thanh-tien"></span></p>
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btn_create_loai_hang">Tạo mới</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block js %}
<script src="{% static 'DataTables/datatables.js' %}"></script>
<script src="{% static 'build/js/xlsx.full.min.js' %}"></script>
<script src="{% static 'custom/js/Store/invoices.js' %}"></script>
{% endblock js %}